{{arg-type @anyArgument "any" path="anyArgument"}}
{{arg-type @booleanArgument "boolean" path="booleanArgument"}}
{{arg-type @nullArgument "null" path="nullArgument"}}
{{arg-type @numberArgument "number" path="numberArgument"}}
{{arg-type @objectArgument "object" path="objectArgument"}}
{{arg-type @stringArgument "string" path="stringArgument"}}
{{arg-type @symbolArgument "symbol" path="symbolArgument"}}
{{arg-type @functionArgument (optional "function") path="functionArgument"}}
{{arg-type @undefinedArgument "undefined" path="undefinedArgument"}}
{{arg-type @actionArgument "function" path="actionArgument"}}
{{arg-type @classicActionArgument (union-of "function" "string") path="classicActionArgument"}}
{{arg-type @elementArgument "__UNKNOWN_TYPE__" path="elementArgument"}}
{{arg-type @nodeArgument "__UNKNOWN_TYPE__" path="nodeArgument"}}
{{arg-type @classArgument "__UNKNOWN_TYPE__" path="classArgument"}}

<div>Oh hey here's some template content</div>